<!DOCTYPE html>
<html>
  <head>
    <title>RailsWikinimous</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>

  <body class="bg-light">
    <div class="nav-bar d-flex justify-content-between align-items-center mb-4">
      <%= link_to image_tag('logo.png'), articles_path%>
      <div class="navbar-info">
        <%= image_tag ('avatar.jpg'), class: "avatar-bordered", alt: "avatar-bordered" %>
        <%= link_to "Create a new article", new_article_path , class: "btn btn-primary btn-sm"%>
      </div>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  <script src="https://kit.fontawesome.com/7a6d494e9e.js" crossorigin="anonymous"></script>
  </body>
</html>
